/*-Overlay related styles-*/
.gamebar-overlay{
    width: 100%;
    height: 100%;
}
/*-Addons styles-*/

/*Clock styles*/
.gamebar-time {
    font-size: 72px;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px; 
    padding: 5px 20px;
    font-weight: 500;
    font-feature-settings: "tnum";
}

/*Close button styles*/
.gamebar-close-button{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px; 
    padding: 5px;
}

/*Volume styles*/
.gamebar-volume-container-global{
    height: auto; 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    padding: 20px;
}

.gamebar-volume-icon{
    color: white;
    margin-right: 10px;
    padding: 0;
    width: 50px;
}

.gamebar-volume-container{
    margin-top: 100%;
}

.gamebar-app-volume-control{
    margin-top: 5px;
}

.gamebar-app-volume-icon{
    color: white; 
    margin-right: 10px;
    padding: 0;
    width: 50px;
}

.gamebar-app-volume-label{
    color: white; 
    margin-right: 10px;
}

.slider-default{
    width: 300px;
}

/*System Monitor addon styles*/
.gamebar-monitor-container {
    height: auto; 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    padding: 20px;
    margin-right: 20px;
}

.gamebar-monitor-label {
    color: white; 
    font-size: 38px;
    font-weight: lighter;
    text-align: left;
}

.gamebar-monitor-usage {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.gamebar-monitor-temp {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    text-align: right;
}

/*Generic styles*/

.separator{
    background-color: gray; 
    height: 1px; 
    margin: 20px 0;
}
