/*-Overlay related styles-*/
.gamebar-overlay{
    background-color: rgba(0, 0, 0, 0.8);
}

/*-Addons styles-*/

/*Clock styles*/
.gamebar-time {
    font-size: 72px;
    text-align: center;
    color: white;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px; 
    padding: 5px 20px;
    font-weight: 500;
}

/*Close button styles*/
.gamebar-close-button{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px; 
    padding: 5px;
    margin-top: 50px;
}

/*Volume styles*/
.gamebar-volume-container-global{
    height: auto; 
    margin-top: 50px; 
    margin-left: 50px; 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    padding: 20px;
}

.gamebar-volume-icon{
    color: white;
    margin-right: 10px;
    padding: 0;
    width: 50px;
}

.gamebar-volume-container{
    margin-top: 100%;
}

.gamebar-app-volume-control{
    margin-top: 5px;
}

.gamebar-app-volume-icon{
    color: white; 
    margin-right: 10px;
    padding: 0;
    width: 50px;
}

.gamebar-app-volume-label{
    color: white; 
    margin-right: 10px;
}

.slider-default{
    width: 300px;
}

/*Generic styles*/

.separator{
    background-color: gray; 
    height: 1px; 
    margin: 20px 0;
}